.menuItem {
    -fx-fill: white;
    -fx-border-color: black;
    -fx-stroke: black;
}

.title {
    -fx-fill: white;
    -fx-font-size: 32px;
    -fx-font-weight: 900;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.heading {
    -fx-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.boxBackground {
    -fx-background-color: lightgray;
    -fx-fill: lightgray;
    -fx-border-color: black;
    -fx-stroke: black;
}